/andere_Sachen.py
/DTTDMold.py
/grumpy
/Models (1).py
/modelsold.py
/optimizationold.py
/programm.py
/Programm2.py
/pymcinternet.py
/pymctry (1).py
/pymctry (3).py
/pymctry.py
/pymctryfrüher.py
/testLPM.py
/testLPM2.py